* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #fafafa;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
}
